body {
  margin: 0;
  font-family: Arial, sans-serif;
}

#bg-video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  opacity: 0.3;
}

.content {
  padding: 40px;
  background-color:#808080;
}
